.availablemeals {
  position: relative;
  top: -19rem;
  width: 90%;
  margin-left: 5%;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.932);
}
.meal {
  position: static;
  border-style: solid;
  border-width: 0px;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px rgb(5, 5, 36);
  margin-top: 2px;
  padding-left: 1rem;
  top: 0px;
}
.meal p {
  margin: 0px;
  font-style: italic;
  padding: 0px;
}
.meal h3 {
  color: brown;
  margin: 0px;
  padding: 0px;
}
