.about {
  position: fixed;
  background-color: #ccc;
  top: 15rem;
  left: 15%;
  width: 70%;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.25);
}
